<div>
  <%= post.message %>
</div>

<% if user_signed_in? %>
  <div>
    By: <%= post.user.username %>
  </div>
<% end %>

<div>
  <%= format_server_time(post.created_at) %>
</div>
<%= tag.hr unless post_iteration.last? %>
<br />