<div class="post">
  <div>
    <%= post.message %>
  </div>

  <% if user_signed_in? %>
    <div class="smaller">
      By: <%= post.user.username %>
    </div>
  <% end %>

  <div class="smaller">
    <%= format_server_time(post.created_at) %>
  </div>

  <% if current_user.try(:admin?) %>
    <div class="smaller"> 
      <%= link_to 'Delete', post, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</div>